
/* Page */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Oswald:wght@200&family=Playfair+Display&family=Roboto+Slab&display=swap');

body {
  /* font: 16px/24px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif; */
  font: 16px/24px "Roboto Slab", serif;
  line-height: 24px;
}

a[href] {
  color: #de7e9e;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #de7e9e;
  font: 24px "Barlow Condensed", serif;
}

h1 {
  color: #de7e9e;
  font: 24px "Barlow Condensed", serif;
}

img {
  max-width: 100%;
}

blockquote {
  background-color: #F0F2F5;
  color: #999999;
  padding: 5px;
}

blockquote p {
  font-style: italic;
  padding: 0 10px;
}

blockquote p:last-child {
  font-style: normal;
  padding-left: 30px;

}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.content {
  flex: 1;
}

/* Header */

header {
  padding: 20px 0;
}

header h1 {
  color: #de7e9e;
  font: 34px "Oswald", sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 34px;
  line-height: 32px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  max-width: 720px;
}

article > ul > li {
  font-size: 18px;
  line-height: 28px;
  color: #5B636E;
}

/* Navigation */

nav {
  margin: auto;
  max-width: 720px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
}

nav ul > li {
  display: inline;
  float: left;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11pt;
  font-weight: 500;
}

.rss-icon {
  height: 14px;
  padding-left: 5px;
}

.pagination {
  text-align: center;
  margin: 30px auto;
}

.pagination span {
  color: #dddddd;
}

/* Articles */

article.micropost {
  margin: 8px auto;
}

.micropost {
  background-color: #f8f8f8;
  margin: 40px auto;
  padding: 20px;
  max-width: 780px;
  border-radius: 14px;
}

.post, .page, .post-groups {
  margin: 40px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 14px;
  max-width: 780px;
}

.micropost > p {
  color: #606060;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px;
  text-align: justify;
}

.post > p, .page > p {
  color: #666666;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  text-align: justify;
}

.post > p {
  margin: 20px auto;
}

.micropost > a {
  font-size: 12px;
  color: #888888;
  margin: 0;
}

.micropost p > a, .post p > a {
  text-decoration: underline; 
}

.post h2 {
  color: #de7e9e;
  font: 24px "Barlow Condensed", serif;
  margin: 0;
  line-height: 32px;
}

article.photo {
  border-radius: 5px;
  margin: 40px auto;
  max-width: 780px;
  overflow: hidden;
  height: 300px;
}

article.photo div {
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: hidden;
}

article.photo .title {
  background-color: #476286;
  font-size: 18pt;
  padding: 15px;
}

article.photo a {
  color: #ffffff;
  display: block;
  overflow: hidden;
}

article.photo p {
  margin: 0;
}

article.photo img {
  -webkit-transition: -webkit-transform 4s ease 0s;
  -moz-transition: -moz-transform 4s ease 0s;
  -o-transition: -o-transform 4s ease 0s;
  transition: transform 4s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 100%;
}

article.photo img:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-2deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate(-2deg);
}

article .postmeta {
	line-height: 22px;
	color: #999999;
  margin: 0 auto;
	padding: 5px 0 0 0;
}

.post-group {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.post-group-item {
  flex: auto;
  width: 40%;
  margin: 5px;
  font-size: 10pt;
  color: #999999;
}

.post-group-item:hover {
  background-color: #f6f6f6;
}

.post-group-item h3 {
  color: #999999;
  font-size: 16pt;
  margin: 0;
  padding: 6px 0 0 6px;
  font-weight: normal;
}

.post-group-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 6px;
}

/* Footer */

footer {
  background-color: #545454;
  color: #ffffff;
  margin: 0;
}

.footer_text {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 720px;
}

.footer_text h3 {
  color: #cccccc;
}

.footer_text a {
  color: #cccccc;
}

.footer_text > div {
  flex: 1;
  margin: 10px;
}

#photos {
  display: flex;
  flex-flow: row wrap;
}

.photo-item {
  display: block;
  height: 75px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  width: 75px;
}

.photo-item img {
  flex: auto;
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.photo-item img:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  opacity: 1.0;
}

.footer_copyright {
  color: #999999;
  font: 12px/20px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

.footer_copyright a {
  color: #cccccc;
}

@media screen
and (max-width: 780px) {

  .footer_text {
    width: 100%;
  }

  .footer_text > div {
    flex: auto;
    width: 100%;
    text-align: justify;
  }

  #photos {
    justify-content: center;
  }

  article {
    margin: 0;
    padding: 20px;
  }

  header {
    padding: 0;
  }

  header h1 {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul > li {
    background-color: #fafafa;
    display:list-item;
    float: none;
    margin: 0;
    padding: 10px;
    border-bottom: #f2f2f2 1px solid;
  }

  nav ul:first-child {
    border-top: #f2f2f2 1px solid;
  }

  .post-group-item {
    width: 100%;
  }

  article.micropost {
    margin: 8px 20px;
  }

  .micropost {
    margin: 0px auto;
    padding: 20px;
  }
}
